<div class="player">
	<div class="button">
		<mat-icon (click)="prev()" class="prev">skip_previous</mat-icon>

		<mat-icon
			(click)="changeState()"
			*ngIf="isPause; else pause"
			class="play"
			>play_arrow</mat-icon
		>
		<ng-template #pause
			><mat-icon (click)="changeState()" class="play"
				>pause</mat-icon
			></ng-template
		>

		<mat-icon (click)="next()" class="next">skip_next</mat-icon>
	</div>
	<div class="barContent">
		<div class="songInfo">{{ songTitle }}</div>
		<div class="linearBar">
			<p class="timeLeft">{{ timeLeft }}</p>
			<div class="fullBar" (click)="updateTime($event)">
				<div id="progressBar"></div>
			</div>
			<p class="fullTime">{{ songLength }}</p>
		</div>
	</div>
</div>
